# Data Types and Structures

1. What are data structures, and why are they important?
-> Data structures are specialized formats for organizing, processing, retrieving, and storing data in a computer. They are essential for efficiency, scalability, organization, and general problem solving. Python's main built in data structures are:
- lists
- tuples
- dictionaries
- sets.


2. Explain the difference between mutable and immutable data types with examples?
-> Mutable data types refer to those data types whose state or content can be changed after being created. Lists, sets, and dictionaries are examples of mutable data structure. Immutable data types refer to those data structures whose state or content cannot be changed after being created. Strings adn tuples are examples of immutable data structures.


3. What are the main differences between lists and tuples in Python?
-> Main differences between lists and tuples are:
-  Lists and mutable while tuples are immutable.
- Lists are defined using square brackets []. Tuples are defined using parenthesis().
- Lists are used when there is a possibilty of a change in the content. Tuples are used when the contents need to be constant.


4. Describe how dictionaries store data?
-> Dictionaries store data as unique key-value pairs using a hash table. Each key is hashed to quickly determine where its corresponding value is stored in memory, allowing for very fast lookups. Keys must be immutable.


5. Why might you use a set instead of a list in Python?
-> Using a set instead of a list in Python offers several advantages, primarily due to the fundamental differences in how they store and manage data. Key reasons you might use a set instead of a list are:
- Sets enforces uniqueness. That is if you add an element that already exists in the set, it will ignore the new addition. while in lists there is no uniqueness, you can add same elements number of times. This feature is essential when you want the elements to be distict like when storing a list of user IDs.
- Sets also provide built-in methods for common mathematical set operations like union, intersection, difference, and symmetric difference. Whereas lists does not offer any such methods and performing operations on a list is less efficient and complex.


6. What is a string in Python, and how is it different from a list?
-> A string is essentially an ordered collection of characters. These characters can include letters, numbers, symbols, and whitespace.
- Examples: "hello", "PWSkills", "12345", " ".
A string is differnt from a list because strings are immutable that is the state and contents of it cannot be changed once createdm whereas lists are mutable.


7. How do tuples ensure data integrity in Python?
-> Tuples in Python ensure data integrity primarily through their immutability which is their defining characteristic. This characteristic avoids unintended changes and maintain data consistency.


8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a data structure that stores key-value pairs using a hash function to quickly map keys to storage locations. Python's dictionaries (dict) are implemented as hash tables, which is why they offer highly efficient lookup, insertion, and deletion of items based on their keys.


9. Can lists contain different data types in Python?
-> Yes, list ca contain different data types.


10. Explain why strings are immutable in Python?
-> Strings are immutable in Python for:
- Preventing accidental changes, making code more reliable.
- Multiple threads can safely access strings without corruption.
- Allows strings to be used as dictionary keys and set elements (needed for efficient lookups).
- Enables optimizations like string interning and cached hash values.
- Any "modification" of a string actually creates a new string.


11. What advantages do dictionaries offer over lists for certain tasks?
-> Some of the advantages dictionaries offer over lists are:
- Instead of relying on numerical positions (like list[0]), dictionaries let you access data using a descriptive key (e.g., student['name']). This makes code more readable and self-documenting.
-  Dictionaries use hashing to find items almost instantly, regardless of size. Lists require scanning, becoming slow (O(n)) for large collections when searching by value.
-  They excel at representing structured data like records (e.g., a person's attributes: {'name': 'Alice', 'age': 30, 'city': 'Pune'}), making your data's meaning explicit.
- Keys in a dictionary must be unique, inherently preventing duplicate identifiers for stored values, which is often a desired property when mapping information.


12. Describe a scenario where using a tuple would be preferable over a list?
-> Example: A function that calculates both the quotient and remainder of a division.
Reason: The quotient and remainder are fixed results for a given a and b. They are inherently unchangeable, and packaging them in an immutable tuple ensures this fixed relationship and prevents accidental modification of individual results after the function returns.


13. How do sets handle duplicate values in Python?
-> Sets handle duplicate values by **automatically discarding them**. Whether you create a set from existing data or try to add duplicates later, only **one unique instance** of each element is ever stored.


14. How does the “in” keyword work differently for lists and dictionaries?
-> In lists: it checks if a specific value (element) exists within the list.
In dictionaries: it checks if a specific key exists within the dictionary. It does not directly check for values.


15. Can you modify the elements of a tuple? Explain why or why not?
-> No, you cannot directly modify the elements of a tuple. This is because tuples are immutable data structures that means you cannot chnage the state or content of it once created. If you wish to modify any element yoou have to create a new tuple altogether.


16. What is a nested dictionary, and give an example of its use case?
-> A nested dictionary is a dictionary where the value associated with a key is another dictionary. This allows you to create hierarchical or multi-level data structures, effectively representing relationships between different pieces of information.
Example Use Case: Storing Student Data with Courses and Grades.
Imagine you want to store information for multiple students, and for each student, you need to keep track of their courses and the grades they received in each course.


17. Describe the time complexity of accessing elements in a dictionary?
-> The time complexity of accessing elements in a dictionary is:
Average Case: O(1) (Constant Time) - Very fast, direct lookup via hashing.
Worst Case: O(n) (Linear Time) - Rare, occurs with extreme hash collisions.


18. In what situations are lists preferred over dictionaries?
-> Lists are preferred over dictionaries in situations where:
- When the sequence or position of items is important and needs to be maintained (e.g., a list of steps in a process, a history of events).
- When you need to access elements primarily by their integer position (e.g., my_list[0], my_list[5]).
- When you have a collection of items that don't inherently have unique, descriptive names, but rather just belong together in a sequence.
- When you need to store multiple identical items (dictionaries only store unique keys).
- While lists can hold different types, they are frequently used for collections of items of the same type.


19. Why are dictionaries considered unordered, and how does that affect data?retrieval3
-> Dictionaries are conceptually considered unordered because their fundamental design (as hash tables) prioritizes fast key-based lookups over maintaining any specific element sequence.
- Affect on retrieval:
Direct access by key is unaffected: It remains O(1) average (very fast) because hashing goes straight to the location, regardless of order.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
-> For a list:
- Retrieval Method: You retrieve data by its numerical index (position). You specify the item's location in the sequence (e.g., my_list[0], my_list[5]).
- Time Complexity: O(n) (linear time)- the time taken grows proportionally with the size of the list in the worst case, as you might have to check every element.
For dictionaries:
- Retrieval Method: You retrieve data by its unique key (label). You specify the descriptive name associated with the value (e.g., my_dict['name'], my_dict['product_id']).
- Time Complexity: O(1) on average (constant time)- the time taken is almost instantaneous and doesn't significantly increase with the size of the dictionary, as the hash function directly points to the data's location.

In [6]:
# 1. Write a code to create a string with your name and print it.

name = "serina"
print(f"my name is:", name)

my name is: serina

In [23]:
#2. Write a code to find the length of the string "Hello World"

my_string = "Hello World"
print("orignal string: ", my_string)
print("length of the string: ", len(my_string))

orignal string:  Hello World
length of the string:  11

In [25]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

my_string = "Python Programming"
print("orignal string: ", my_string)
print("string after slicing: ", my_string[0:3])

orignal string:  Python Programming
string after slicing:  Pyt

In [28]:
# 4. Write a code to convert the string "hello" to uppercase.

my_string = "hello"
print("orignal string: ", my_string)
print("string in uppercase: ", my_string.upper())

orignal string:  hello
string in uppercase:  HELLO

In [22]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

my_string = "I like apple"
print("orignal string: ", my_string)
print("final string: " , my_string.replace("apple", "orange"))

orignal string:  I like apple
final string:  I like orange

In [31]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1,2,3,4,5]
print("the list is: ", my_list)

the list is:  [1, 2, 3, 4, 5]

In [34]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1,2,3,4]
print("orignal list: ", my_list)
my_list.append(10)
print("final list: ", my_list)

orignal list:  [1, 2, 3, 4]
final list:  [1, 2, 3, 4, 10]

In [38]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1,2,3,4,5]
print("orignal list: ", my_list)
my_list.remove(3)
print("final list: ", my_list)

orignal list:  [1, 2, 3, 4, 5]
final list:  [1, 2, 4, 5]

In [42]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ["a","b","c","d"]
print("orignal list: ", my_list)
print("second element in the list: ", my_list[1])

orignal list:  ['a', 'b', 'c', 'd']
second element in the list:  b

In [45]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10,20,30,40,50]
print("orignal list: ", my_list)
print("reversed list: ", my_list[::-1])

orignal list:  [10, 20, 30, 40, 50]
reversed list:  [50, 40, 30, 20, 10]

In [46]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100,200,300)
print("the tuple is: ", my_tuple)

the tuple is:  (100, 200, 300)

In [47]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ("red", "green", "blue", "yellow")
print("orignal tuple: ", my_tuple)
print("second-to-last element of the tuple: ", my_tuple[-2])

orignal tuple:  ('red', 'green', 'blue', 'yellow')
second-to-last element of the tuple:  blue

In [48]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10,20,5,15)
print("orignal tuple: ", my_tuple)
print("the minimum number in the tuple is: ", min(my_tuple))

orignal tuple:  (10, 20, 5, 15)
the minimum number in the tuple is:  5

In [52]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ("dog", "cat", "rabbit")
print("orignal tuple: ", my_tuple)
print("the index of cat in the tuple is: ", my_tuple.index("cat"))

orignal tuple:  ('dog', 'cat', 'rabbit')
the index of cat in the tuple is:  1

In [54]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

my_tuple = ("apple", "kiwi", "banana", "orange")
print("orignal tuple: ", my_tuple)
print("kiwi" in my_tuple)

orignal tuple:  ('apple', 'kiwi', 'banana', 'orange')
True

In [56]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {"a", "b", "c"}
print("the set is: ", my_set) # the output will be unordered as it is stored in a set which inheritly stores unordered elements

the set is:  {'b', 'c', 'a'}

In [58]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1,2,3,4,5}
print("orignal set: ", my_set)
my_set.clear()
print("final set: ", my_set) # output will be en empty set

orignal set:  {1, 2, 3, 4, 5}
final set:  set()

In [62]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1,2,3,4}
print("orignal set: ", my_set)
my_set.remove(2)
print("after removing element 4 from the set: ",my_set )

orignal set:  {1, 2, 3, 4}
after removing element 4 from the set:  {1, 3, 4}

In [64]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

my_set1 = {1,2,3}
my_set2 = {3,4,5}
print("orignal set1: ", my_set1)
print("orignal set2: ", my_set2)
set_union = my_set1.union(my_set2)
print("union of two sets: ", set_union)

orignal set1:  {1, 2, 3}
orignal set2:  {3, 4, 5}
union of two sets:  {1, 2, 3, 4, 5}

In [65]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

my_set1 = {1,2,3}
my_set2 = {2,3,4}
print("orignal set1: ", my_set1)
print("orignal set2: ", my_set2)
set_intersection = my_set1.intersection(my_set2)
print("intersection of two sets: ", set_intersection)

orignal set1:  {1, 2, 3}
orignal set2:  {2, 3, 4}
intersection of two sets:  {2, 3}

In [67]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    "name" : "serina",
    "age" : 20,
    "city" : "pune"
}

print("my dictionary is: ", my_dict )

my dictionary is:  {'name': 'serina', 'age': 20, 'city': 'pune'}

In [70]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {
    "name" : "John",
    "age" : 25
}
print("orignal dictionary: ", my_dict)
my_dict["country"] = "USA"
print("final dictionary; ", my_dict)

orignal dictionary:  {'name': 'John', 'age': 25}
final dictionary;  {'name': 'John', 'age': 25, 'country': 'USA'}

In [74]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {
    "name" : "Alice",
    "age" : 30
}

print("orignal dictionary: ", my_dict)
print("value associated with the key 'name': ", my_dict["name"])

orignal dictionary:  {'name': 'Alice', 'age': 30}
value associated with the key 'name':  Alice

In [75]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {
    "name" : "Bob",
    "age" : 22,
    "city" : "New York"
}

print("orignal dictionary: ", my_dict)
del my_dict["age"]
print("final dictionary: ", my_dict)

orignal dictionary:  {'name': 'Bob', 'age': 22, 'city': 'New York'}
final dictionary:  {'name': 'Bob', 'city': 'New York'}

In [76]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {
    "name" : "Alice",
    "city" : "Paris"
}

print("orignal dictionary: ", my_dict)
print("city" in my_dict)

orignal dictionary:  {'name': 'Alice', 'city': 'Paris'}
True

In [77]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = ["serina", 20, "pune"]
my_tuple = ("serina", 20, "pune")
my_dict = {
    "name" : "serina",
    "age" : 20,
    "city" : "pune"
}

print("the list is: ", my_list)
print("the tuple is: ", my_tuple)
print("the dictionary is: ", my_dict)

the list is:  ['serina', 20, 'pune']
the tuple is:  ('serina', 20, 'pune')
the dictionary is:  {'name': 'serina', 'age': 20, 'city': 'pune'}

In [79]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)


import random

random_numbers_copy = []
for _ in range(5):
  random_numbers_copy.append(random.randint(1, 100)) ## the random.randint(a, b) function returns a random integer N such that a <= N <= b.

print(f"Original list for sorted() demo: {random_numbers_copy}")
sorted_random_numbers = sorted(random_numbers_copy)
print(f"Sorted list (using sorted() function): {sorted_random_numbers}")
print(f"Original list after sorted() function: {random_numbers_copy}") # original remains unchanged

Original list for sorted() demo: [21, 85, 98, 5, 49]
Sorted list (using sorted() function): [5, 21, 49, 85, 98]
Original list after sorted() function: [21, 85, 98, 5, 49]

In [81]:
# 28. Write a code to create a list with strings and print the element at the third index.

my_list = ["riya", "tiya", "hiya", "piya"]
print("orignal list: ", my_list)
print("the element at the third index in the list is: ", my_list[2])

orignal list:  ['riya', 'tiya', 'hiya', 'piya']
the element at the third index in the list is:  hiya

In [85]:
# 29. Write a code to combine two dictionaries into one and print the result.

my_dict1 = {
    "name" : "serina",
    "age" : 20,
    "city" : "pune"
}

my_dict2 = {
   "password" : "thisismypassword",
   "unique ID" : 10002
}

merged_dict = {**my_dict1, **my_dict2}
print("dictionary 1: ", my_dict1)
print("dictionary 2: ", my_dict2)
print("merged dictionary: ", merged_dict)

dictionary 1:  {'name': 'serina', 'age': 20, 'city': 'pune'}
dictionary 2:  {'password': 'thisismypassword', 'unique ID': 10002}
merged dictionary:  {'name': 'serina', 'age': 20, 'city': 'pune', 'password': 'thisismypassword', 'unique ID': 10002}

In [86]:
# 30. Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "starwberry", "grape" ]
my_set = set(my_list)
print("the orignal list: ", my_list)
print("the set of list: ", my_set)

the orignal list:  ['apple', 'banana', 'starwberry', 'grape']
the set of list:  {'starwberry', 'banana', 'apple', 'grape'}